#t2{
	 display: inline-block;
	 padding-left: 3rem;
	list-style-type: none;
	
}
.tit{
	font-size: 3rem;
	color: red;
}
 .tt3{ display: inline-block;
    list-style-type: none;
 padding-left: 2rem;
    }
.tt3:hover{
	border-bottom  :4px solid white;
    border-radius: 9px;
    
}
 
.tt3 a{text-decoration: none; color: white;}
#y{ border:3px solid white;
    border-radius: 3rem 5rem;
 
}
.tt3{
	border-spacing: 3px;
	font-size: 30px;
    margin-left: 10rem;}
 .b {background-color: blue;
    border-radius: 7px;
     border:3px solid black;}
.tt1{background-color: red;
     height: 3rem;}
      .d{display: none; }

.f{margin-left: 20rem; border: 2px solid black; margin-right: 30rem;  height: 20rem}
.f2{margin-left: 20rem; border: 2px solid black; margin-right: 30rem;  height: 40rem}
input{border-radius: 5px 9px; border-bottom:3px solid black; width: 15rem; padding-top: 0.4rem; padding-bottom : 0.4rem;}
input:hover{
	 transition: 0.5s;
     background-color :thistle;
     color:black;
}
tr{height: 2rem;}
button{margin-left: 15rem; background-color: blue;width: 7rem; height: 2rem;border-radius:10px; }
table{ margin-left: 3rem; margin-bottom: 1rem; }
.tt2{background-color:black;
     height: 5rem;
     color: white; }
  .tt4:hover{border-bottom  :4px solid white;}
.tt4{display: inline-block;
    list-style-type: none;
 padding-left: 2rem;}
 .tt4{
  border-spacing: 3px;
  font-size: 20px;
    margin-left: 10rem;}
    h2{color: blue; letter-spacing: 3px; margin-left: 5px;}