* {
    font-size: 20px;
    align-content: center;
}
.tableau {
    text-align: center;
   
    width: 20em;
    height: 25em;

}
.tableau table {
    border-collapse: collapse;
     padding-top: 30px;
 
    width: 700px;
    height: 550px;
}
 
